[Unit]
Description=attendance-check.serviceを平日19時に実行するタイマー(10時分はログイン時に実行)

[Timer]
OnCalendar=Mon..Fri 19:00
Persistent=true

[Install]
WantedBy=timers.target
