[Unit]
Description=schedule-check.serviceを平日10時・13時・16時に実行するタイマー

[Timer]
OnCalendar=Mon..Fri 10,13,16:00
Persistent=true

[Install]
WantedBy=timers.target
